<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        if (window.innerWidth <= 768) {
            document.write('<link rel="stylesheet" href="/stylesheets/mobile.css">');
        } else {
            document.write('<link rel="stylesheet" href="/stylesheets/desktop.css">');
        }
    </script>
    <title><%= title %></title>
</head>