<div class="sidebar">
    <img src="/images/hayabusa2.png" alt="icon">
    <% if(userID) { %>
        <ul>
            <a href="/dashboard"><li>ダッシュボード</li></a>
            <a href="/project/projects"><li>プロジェクト一覧</li></a>
            <a href="/task/tasks"><li>タスク一覧</li></a>
            <a href="/profile?uid=<%= userID %>"><li>マイページ</li></a>
            <a href="/login/logout"><li>ログアウト</li></a>
        </ul>
    <% } else { %>
        <ul>
            <a href="/"><li>ホーム</li></a>
            <a href="/login"><li>ログイン</li></a>
            <a href="/login/create"><li>アカウント作成</li></a>
        </ul>
    <% } %>
</div>