<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>create task!</h1>
<div class="container">
    <form method="post" action="/project/create-task">
        <label for="task_name"><b>Task Name</b></label>
        <input type="text" placeholder="Enter Task Name" name="task_name" required>
        <br>

        <label for="task_description"><b>Task Description</b></label>
        <input type="text" placeholder="Enter Task Description" name="task_description" required>
        <br>

        <label for="due_date"><b>Due Date</b></label>
        <input type="text" placeholder="Enter Due Date" name="due_date" required>
        <br>

        <label for="priority"><b>Priority</b></label>
        <input type="text" placeholder="Enter Priority" name="priority" required>
        <br>

        <label for="risk"><b>Risk</b></label>
        <input type="text" placeholder="Enter Risk" name="risk" required>

        <button type="submit">submit</button>
    </form>
</div>
</body>
</html>