<!DOCTYPE html>
<html>
<head>
    <title>Motoki</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to Motoki's task management</p>
</body>
</html>