<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Hayabusa Charmer' }) %>
<body>
<div class="container">
    <%- include('partials/sidebar', { userID: userID, selected: "" }) %>
    <div class="content">
        <div class="section">
            <h2>ログイン</h2>
            <form method="post" action="/login">
                <label for="mail"><b>Mail Address</b></label>
                <input type="text" placeholder="Enter Username" name="mail" required>
                <br>
        
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
        
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>