<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>upload icon!</h1>
<p><a href="/">ホーム</a></p>
<div class="container">
    <form method="post" enctype="multipart/form-data" action="/profile/upload-icon">
        <input type="file" name="avatar" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>
</div>
</body>
</html>